.App .FixedHeader {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 999;
  top: 0px;
  left: 0px;
  padding: 2%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App .container-fluid {
  margin-top: 100px;
}

.App .column {
  display: flex;
}

.App .AlbumCard {
  display: inline-block;
  margin: 0 auto 2vh auto;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
}

.App .AlbumCard input {
  position: absolute;
  top: 10px;
  right: 10px;
}

.App .AlbumCard .card-title, .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App .AlbumCard img {
  width: 350px;
  height: 350px;
}

.App .AlbumCard .card-body {
  width: 350px;
  font-size: 1em;
}

.App .AlbumCard button {
  position: absolute;
  bottom: 20px;
}

.App .card-title {
  font-size: 2vh;
}

.App .card-text {
  font-size: 1.5vh;
}

@media (max-width: 1560px) {
  .App .AlbumCard img {
    width: 250px;
    height: 250px;
  }
  
  .App .AlbumCard .card-body {
    width: 250px;
  }

}

@media (max-width: 1200px) {
  .App .AlbumCard img {
    width: 200px;
    height: 200px;
  }

  .App .AlbumCard .card-body {
    width: 200px;
  }
}

@media (max-width: 1050px) {
  /* .App .AlbumCard img {
    width: 100%;
    height: 100%;
  }

  .App .AlbumCard .card-body {
    width: 100%;
  } */
}

@media (max-width: 780px) {
  .FixedHeader h2 {
    line-height: 24px;
  }

  .App {
    padding: 5px;
  }

  .App .column {
    padding-left: 1%;
    padding-right: 1%;
  }

  .ImageWrapper {
    object-fit: cover;
  }

  .App .AlbumCard img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
  }

  .App .AlbumCard .card-body {
    width: 100%;
    padding: 5px;
  }

  .App .container-fluid {
    margin-top: 70px;
  }

  .App .FixedHeader h2 {
    font-size: 18px;
  }

  .App .FixedHeader button {
    font-size: 10px;
  }
}